{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Deepak Chaudhary</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Deepak Chaudhary. Currently Pursuing Bachelors of
                    Technology in Computer Science And Engineering(Artificial Intelligence and Machine Learning). My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Web Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:deepakchaudhary8303@gmail.com'><i class="fa fa-envelope" style="font-size:40px"></i></a> :
                deepakchaudhary8303@gmail.com<br><br>
                <a target="_blank" href='https://medium.com/@deepakchaudhary8303'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : deepak-chaudhary<br><br>
                <a target="_blank" href='https://github.com/wartuall'><i class="fa fa-github" style="font-size:40px"></i></a> :
                wartuall<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/deepak-chaudhary-a7976b222/'><i class="fa fa-linkedin" style="font-size:40px"></i></a> :
                deepakchaudhary<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Tanmay Raj</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Tanmay Raj. Currently Pursuing Bachelors of
                    Technology in Computer Science And Engineering(Artificial Intelligence and Machine Learning). My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Web Development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:tanmayraj565@gmail.com'><i class="fa fa-envelope" style="font-size:40px"></i></a> :
                        tanmayraj565@gmail.com<br><br>
                <a target="_blank" href='https://github.com/TanmaySDGEEK'><i class="fa fa-github" style="font-size:40px"></i></a> :
                tanmay-raj<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/tanmay-raj-32990b223/'><i class="fa fa-linkedin" style="font-size:40px"></i></a> :
                tanmay-raj<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}